.chatbox{
    font-size: 12px;
    border: 1px solid rgba(194, 193, 193, 0.932);
    position:absolute;
    width:600px;
    height:200px;
    overflow: scroll;
    background-color: rgb(195, 212, 205);
    border-radius: 10px;
	bottom: 0;
	left: 0;
}


.messageField{
    border: 1px solid rgba(194, 193, 193, 0.932);
    position: absolute;;
    bottom:0px;
	bottom: 0;
	left: 0;
    border-radius: 10px;
}

.messageInput{
    width: 520px;
}
